In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
train_path = "data/train.csv"
test_path = "data/test.csv"

# Read the train and test datasets
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

# Merge the datasets
df = pd.concat([train_df, test_df], axis=0, ignore_index=True)

# Display the first 5 lines
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

In [37]:
""" 
Q- now we need to check the table describtion of the data 

"""
df.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000
mean,200779.451782,39.704172,31.350435,15.714825,3.833317,13.496843,620.072766,14.610581,0.555203
std,137241.343095,12.670577,17.237482,8.619323,3.133603,8.451187,245.319256,8.608286,0.496944
min,1.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,63827.250000,29.000000,16.000000,8.000000,1.000000,6.000000,446.000000,7.000000,0.000000
50%,193039.500000,40.000000,32.000000,16.000000,3.000000,13.000000,648.900000,14.000000,1.000000
75%,321645.750000,49.000000,46.000000,23.000000,6.000000,20.000000,824.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

In [38]:
""" 
Q- check some information about the data ? 
"""
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505207 entries, 0 to 505206
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         505206 non-null  float64
 1   Age                505206 non-null  float64
 2   Gender             505206 non-null  object
 3   Tenure             505206 non-null  float64
 4   Usage Frequency    505206 non-null  float64
 5   Support Calls      505206 non-null  float64
 6   Payment Delay      505206 non-null  float64
 7   Subscription Type  505206 non-null  object
 8   Contract Length    505206 non-null  object
 9   Total Spend        505206 non-null  float64
 10  Last Interaction   505206 non-null  float64
 11  Churn              505206 non-null  float64
dtypes: float64(9), object(3)
memory usage: 46.3+ MB

In [39]:
""" 
Q- let's Rename the columns and remove the empty space oky 

"""

df.columns = [col.lower().replace(' ','_') for col in df.columns]
df.columns

Index(['customerid', 'age', 'gender', 'tenure', 'usage_frequency',
       'support_calls', 'payment_delay', 'subscription_type',
       'contract_length', 'total_spend', 'last_interaction', 'churn'],
      dtype='object')

In [40]:
""" 
Q- let's remove the columns with unncessry information 
A- it's the CustomerID column oky 

"""
df.drop(columns='customerid',inplace=True)
df.shape

(505207, 11)

In [41]:
from typing import Callable, List
import pandas as pd

def compute_null_percentage(column: pd.Series) -> float:
    """
    Compute the percentage of null values in a given column.

    Args:
        column (pd.Series): The input column to analyze.

    Returns:
        float: The percentage of null values in the column.
    """
    null_count: int = column.isnull().sum()
    total_count: int = len(column)

    return (null_count / total_count) * 100 if total_count > 0 else 0.0

def analyze_null_percentages(df: pd.DataFrame) -> pd.Series:
    """
    Analyze null percentages for all columns in a DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame to analyze.

    Returns:
        pd.Series: A series of null percentages for each column.
    """
    return df.isnull().mean() * 100

# Call the analyze_null_percentages function
null_percentages = analyze_null_percentages(df)

# Print the results
for column, percentage in null_percentages.items():
    print(f"{column}: {percentage:.2f}% null values")

age: 0.00% null values
gender: 0.00% null values
tenure: 0.00% null values
usage_frequency: 0.00% null values
support_calls: 0.00% null values
payment_delay: 0.00% null values
subscription_type: 0.00% null values
contract_length: 0.00% null values
total_spend: 0.00% null values
last_interaction: 0.00% null values
churn: 0.00% null values

In [42]:
df.dropna(inplace=True) # Removing the single missing value row

In [43]:
df.isnull().sum()

age                  0
gender               0
tenure               0
usage_frequency      0
support_calls        0
payment_delay        0
subscription_type    0
contract_length      0
total_spend          0
last_interaction     0
churn                0
dtype: int64

In [44]:
""" 
Q- next we have some categorical features that we need to encode.
Q- before starting the ml modeling oky 

Q- the featuers are 
- gender 
-subscription_type
-contract_length
Q- so we use the OneHotEncoder to encode the categorical features
Q- how to logic is done ? 
- firtst we need to call the packge to do this wich is "OneHotEncoder"
- then we make an instance of it as encoder varible 
- then we fit the encoder to the data
Q- so give the full code here without removing the """ """ comments oky 

"""
from sklearn.preprocessing import OneHotEncoder

# List of categorical columns to encode
categorical_features = ['gender', 'subscription_type', 'contract_length']

# Create an instance of OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the data and transform the categorical columns
encoded_features = encoder.fit_transform(df[categorical_features])

# Create a DataFrame from the encoded features
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(categorical_features))

# Drop the original categorical columns from the DataFrame
df.drop(columns=categorical_features, inplace=True)

# Concatenate the encoded features with the original DataFrame
df = pd.concat([df, encoded_df], axis=1)

# Display the first 5 lines of the updated DataFrame
df.head()

,age,tenure,usage_frequency,support_calls,payment_delay,total_spend,last_interaction,churn,gender_Female,gender_Male,subscription_type_Basic,subscription_type_Premium,subscription_type_Standard,contract_length_Annual,contract_length_Monthly,contract_length_Quarterly
0,30.0,39.0,14.0,5.0,18.0,932.0,17.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,65.0,49.0,1.0,10.0,8.0,557.0,6.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,55.0,14.0,4.0,6.0,18.0,185.0,3.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,58.0,38.0,21.0,7.0,7.0,396.0,29.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,23.0,32.0,20.0,5.0,8.0,617.0,20.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [46]:
df.dropna(inplace=True)

# Verify that all null values have been dropped
print(df.isnull().sum())

age                           0
tenure                        0
usage_frequency               0
support_calls                 0
payment_delay                 0
total_spend                   0
last_interaction              0
churn                         0
gender_Female                 0
gender_Male                   0
subscription_type_Basic       0
subscription_type_Premium     0
subscription_type_Standard    0
contract_length_Annual        0
contract_length_Monthly       0
contract_length_Quarterly     0
dtype: int64

In [47]:
""" 
Q- now we have clean the data , encoding it 
Q- it's time to prepare the train and test data
Q- first think we need to import the needed libraries like train_test_split from sklearn.model_selection
Q- and StandardScaler from sklearn.preprocessing
Q- then due this problem is a supervised learning problem and the target is "churn" we need to remove it from the data
Q- and then we need to split the data into train and test data
Q- and then we need to scale the data
"""
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X=df.drop("churn",axis=1)
y=df["churn"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# identify numerical columns 
numerical_cols = X_train.select_dtypes(include=['int64', 'float64']).columns
# intialize the scaler
scaler = StandardScaler()
# fit and transform the numerical columns
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
# transform the test set 
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

# print the result 
print("Training set shape :" , X_train.shape)
print("Test set shape :" , X_test.shape)

Training set shape : (404164, 15)
Test set shape : (101041, 15)

In [49]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from tabulate import tabulate

def train_and_validate_model(X_train, X_test, y_train, y_test, model=LogisticRegression()):
    # Make an instance of the model and train it
    model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred = model.predict(X_test)
    
    # Calculate the metrics
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    
    # For ROC AUC, we need probability scores
    y_pred_proba = model.predict_proba(X_test)[:, 1]
    roc_auc = roc_auc_score(y_test, y_pred_proba)
    
    return accuracy, precision, recall, f1, roc_auc

"""
Q- now just print the result after calling the method 
Q- give the code to it 
"""
result = train_and_validate_model(X_train, X_test, y_train, y_test)
metrics = ['Accuracy', 'Precision', 'Recall', 'F1 Score', 'ROC AUC']
for metric, value in zip(metrics, result):
    print(f"{metric}: {value:.4f}")

Accuracy: 0.8424
Precision: 0.8684
Recall: 0.8435
F1 Score: 0.8557
ROC AUC: 0.9030